h2{
    color: royalblue;

}
.boxmodel{
    border:5px solid red ;
    display: inline-block;
    padding: 5px 20px ;
    margin: 0px 20px ;

}
p{
    font-size: 18px ;

}
span{
    font-size: 5em;
}