
body{


}
h2,p{
    color: #AA4139;
    text-align: center;
    border: 5px solid purple;
    cursor: pointer;
}
p{
    line-height: 20px;
    font-style: italic;
    font-weight: bold;
    font-size: 100%;
    font-family: "Times New Roman", Georgia;
}
li{
    list-style: none;
    display: inline-block;
}
.webtext{
    text-align: center;
    border: 5px dashed red;
}
#div1
{
 background: rgb(0, 255, 0);
}
button:hover{
    color: royalblue;
}
footer{
    clear: both;
    text-align: center;
}